body {
  background-color: beige;
}
.highlight {
  color: #007bff;
}
.bold {
  font-size: 22px;
  font-weight: bold;
}
h2 {
  color: white;
}
p {
  font-size: 18px;
}
button {
  background-color: lightgrey;
  border: 5px solid black;
  font-size: 20px;
  color: #007bff;
  padding: 10px;
}
article {
  background-color: #007bff;
  border: 10px solid black;
  margin: 20px;
  padding: 20px;
}
